*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

.main-visual-contents{
  width: 300px;
  background-color: #EEEEEE;
}

.step-name{
  width: fit-content;
  color:#FFF;
  background-color: #FF9A4B;
}

h3{
  margin: 15px 0 5px 0;
}

.main-visual-text{
  flex-wrap: wrap;
  font-size: 13px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}